
    /* background-image: url(../images/blackwood.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center; */
body {
     margin: 1rem;
     display: flex;
     flex-direction: column;
     height: calc(100vh - 2rem);
     background-image: url(../images/blackwood.jpg);
     /* calculate to allow no scroll
     by taking account of the margin */
 }
h1 {
    font-size: 60px;
    flex-grow: 2;
    color: whitesmoke;
}
header {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

ul  {
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly
}

a {
    text-decoration: none;
    font-size: 15px;
    color: whitesmoke;
}

a:hover {
    color: aquamarine;
}

nav {
    flex-grow: 1;
}


/* main sectio */
main {
    flex: 2;
    flex-grow: 20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

img {
    border-radius: 50%;
    width: 15rem;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: calc(100vw-2rem);
}

h2 {
    font-size: 70px;
    color: gray;
    flex: 1;
    flex-grow: 1;
}

p {
    font-size: 30px;
    color: whitesmoke;
    flex: 1;
    flex-grow: 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    width: 25%;
    text-align: center;
}

.contact {
    flex: 1;
    flex-grow: 2;
    flex-direction: row;
    justify-content: center;
    margin-bottom: auto;
    display: flex;
}

/* footer */
footer {
    color: gray;
    display: flex;
    justify-content: center;
}


