body {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 2rem);
    background-image: url(../images/blackwood.jpg);
    /* calculate to allow no scroll
     by taking account of the margin */
}
h1 {
    font-size: 60px;
    flex-grow: 2;
    color: whitesmoke;
}
header {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

ul {
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
}

.navLink {
    text-decoration: none;
    font-size: 15px;
    color: whitesmoke;
}

.navLink:hover {
    color: aquamarine;
}

.fakeLink:hover {
    cursor: pointer;
}

nav {
    flex-grow: 1;
}

/* main sectio */
main {
    flex: 2;
    flex-grow: 20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    border-radius: 50%;
    width: 15rem;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: calc(100vw-2rem);
}
h2 {
    color: grey;
    flex: 1;
    flex-grow: 1;
    font-size: 60px;
    margin-bottom: 5px;
}

p {
    font-size: 30px;
    color: whitesmoke;
    flex: 1;
    flex-grow: 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    width: 25%;
    text-align: center;
}

.myPort {
    border-radius: 8px;
    flex: 1;
    flex-grow: 20;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.myPort a img:hover {
    border-radius: 8px;
    opacity: 0.5;
}
/* Contact bar at the bottom of the page */
.contact {
    flex: 1;
    flex-grow: 1;
    flex-direction: row;
    justify-content: center;
    margin-bottom: auto;
    display: flex;
}

.contact a img {
    max-width: 70px;
    max-height: 70px;
    height: auto;
    width: auto;
}

.contact a:hover img {
    box-shadow: 0px 0px 8px whitesmoke;
}
/* footer */
footer {
    color: gray;
    display: flex;
    justify-content: center;
}
